.App {
  text-align: center;
  background-image: url("/images/stars.png");
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-brand {
  font-size: 2rem;
}

.orange-text {
  color: #a14007;
  text-shadow: 1px 2px 1px black;
  
}

.jumbotron {
  background-color: #282c3400;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 1px 2px 1px black;
  font-weight: 600;
  border-width: 6px 0px 6px 0px;
  border-color: #a14007;
  border-style: ridge;
  border-radius: 0px;
}

button {
  padding: 0px;
  background-color: #a14007;
  border-radius: 8px;
  margin: 10px;
  border-style: none;
}

button:hover {
  background-color: #ffffff;
}

.card {
  height: auto;
  width: max-content;
  background-size: cover;
  background-position: 50%;
  margin: 3px;
  background-color: #282c34;
}

.char {
  padding: 5px;
  width: 12rem;
  border-radius: 8px;
  margin: 10px;
}
